.outputbox {
    border: #676767 solid;
    height: 20em;
    overflow-y: scroll;
    font-family: 'Lucida Console', Monaco, monospace;
}

.codePc {
    color: red;
    font-weight: bold;
    text-effect: outline;
}

